<!--
  Generated template for the FuncionarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Bernardo Baptista</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list inset>
        <ion-item *ngFor="let conta of currentContas">
            <h2>{{ conta.account_id }}</h2>
            <h3>Saldo: R${{ conta.avail_balance }}</h3>
            <h3 *ngIf="conta.cust_type_cd=='I'">{{ conta.first_name}} {{conta.last_name}}</h3>
            <h3 *ngIf="conta.cust_type_cd=='B'">{{ conta.first_name}}</h3>
        </ion-item>
    </ion-list>
</ion-content>
